@import "../node_modules/materialize-css/dist/css/materialize.min.css";
@import "./styles/scroll.scss";
@import "./styles/chat.scss";

.login {
  position: relative;
}

.logo-login {
  height: 200px;
}

.formulario-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_form {
  width: 100vh;
}

.verde-u {
  background-color: #1f3f3e;
  color: white;
}

.nombre {
  font-size: 1.7rem;
  margin-right: 1rem;
}

.back {
  margin-right: 1.5rem;
}

html {
  width: 100%;
  overflow-y: hidden;
}

@media screen and (max-width: 599) {
  .app {
    margin: 10px;
  }

  .sidebar {
    grid-column: 1 / -1 !important;
  }

  .nombre {
    margin-right: 0.5rem;
  }
}

.sinmensajes {
  background: rgba(lightgray, 1);
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  p {
    font-size: 6rem;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }

  .salir {
    margin-left: 1rem;
  }
}

.mensaje {
  position: relative;
  padding: 1.2rem 1rem;
}
.nombre-persona-mensaje {
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
}

.boton {
  border-radius: 2rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.back {
  display: none;
}

@media screen and (max-width: 600px) {
  html,
  body {
    height: 100vh;
    width: 100vh;
    overflow-y: auto;
  }

  html {
    height: 100vh;
    width: 100vh;
    overflow-y: auto;
  }
}

@media screen and (max-width: 991px) {
  .chat-window-header {
    position: fixed;
    width: 100%;
  }

  .chat-window {
    margin: 7rem 3rem;
  }

  .visible {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .invisible {
    display: none;
  }

  .back {
    display: block;
  }

  .sidebar {
    grid-column: 1 / -1;

    .sidebar-header {
      width: 100%;
    }
  }

  html,
  body {
    height: 100vh;
    width: 100%;
  }

  .imagen-grupo {
    height: 40px;
    width: 40px;
  }

  .app {
    margin: 2rem 5%;
    display: block;
    border: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 992px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
}

.sender {
  margin-top: 0.5rem;
}

.centerimg {
  margin: auto;
}

.ajustes-chat {
  text-align: right;
}

.grid {
  overflow: hidden;
}

.texto {
  margin: 0px;
}

.materialize-textarea {
  overflow-y: auto;
}
