@import "../node_modules/materialize-css/dist/css/materialize.min.css";
@import "./styles/scroll.scss";
@import "./styles/chat.scss";

// $sombra: rgb(128, 126, 121);

// body {
//   background-color: #f7f7f7;
// }

// .fixed {
//   position: fixed;
//   z-index: 1000;
//   width: 100%;
//   top: 0;
//   left: 0;
// }

// .espacio-contenido {
//   margin-top: 70px;
// }

// .tabs {
//   display: flex;
//   background-color: #1f3f3e;

//   .tab {
//     flex: 1;
//   }

//   .indicator {
//     background-color: #1f3f3e;
//   }
// }

// .tabs .tab a:hover,
// .tabs .tab a.active {
//   color: #fff;
// }

// .tabs .tab a {
//   color: gray;
// }

// .tabs .tab a:focus,
// .tabs .tab a:focus.active {
//   background-color: rgba(0, 0, 0, 0.2);
//   outline: none;
// }

// /* telefonos */
// @media screen and (max-width: 600px) {
//   .espacio {
//     margin: 0 2%;
//   }
// }

// /* tablets */
// @media screen and (max-width: 991px) and (min-width: 601px) {
//   .espacio {
//     margin: 0 5%;
//   }
// }

// /* computadores */
// @media screen and (min-width: 992px) {
//   .espacio {
//     margin: 0 10%;
//   }
// }

// #contenido-chat {
//   padding: 0px;
// }

// .contenido {
//   overflow: hidden;
// }

.login {
  position: relative;
}

.logo-login {
  height: 200px;
}

.formulario-login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido_form {
  width: 100vh;
}

.verde-u {
  background-color: #1f3f3e;
  color: white;
}

.nombre {
  font-size: 1.7rem;
  margin-right: 1rem;
}

.back {
  margin-right: 1.5rem;
}

html {
  width: 100%;
}

@media screen and (max-width: 599) {
  .app {
    margin: 10px;
  }

  .sidebar {
    grid-column: 1 / -1 !important;
  }

  .nombre {
    margin-right: 0.5rem;
  }
}

.sinmensajes {
  background: rgba(lightgray, 1);
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 6rem;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }

  .salir {
    margin-left: 1rem;
  }
}

.mensaje {
  position: relative;
  padding: 1.2rem 1rem;
}
.nombre-persona-mensaje {
  position: absolute;
  top: 0;
  font-size: 1rem;
  font-weight: bold;
}

.boton {
  border-radius: 2rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  html,
  body {
    height: 100vh;
    width: 100vh;
  }

  html {
    height: 100vh;
    width: 100vh;
  }
}

@media screen and (max-width: 991px) {
  .sidebar {
    grid-column: 1 / -1;

    .sidebar-header {
      width: 100%;
    }
  }

  html,
  body {
    height: 100vh;
    width: 100%;
  }

  .imagen-grupo {
    height: 40px;
    width: 40px;
  }

  .app {
    margin: 2rem 5%;
    display: block;
    border: none;
    box-shadow: none;
  }
}

@media screen and (min-width: 992px) {
  html,
  body {
    height: 100%;
    width: 100%;
  }
}
